.login-container {
  display: flex;
  width: 70vw;
  height: 80%;
  border-radius: 50px;
  box-shadow: 8px 8px 4px 0px #00000040;

}
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.App {
  width: 100%;
  height: 85vh;
  position: relative;
}
.App_bg {
  width: 100%;
  height: 85vh;
  position: absolute;
  z-index: -1;
  object-fit: cover;
  opacity: 0.6;
}