.modal-overlay {
  height: 100vh; /* Full viewport height */
  width: 100vw;  /* Full viewport width */
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-display {
  background: white;
  padding: 20px;
  border-radius: 8px;
  height: 90vh;
  width: 60vw;
  position: relative;
}

.modal-header {
  font-size: xx-large;
  text-align: center;
  display: flex;
  justify-content: flex-start;
}

.modal-content {
  height: 95%;
  overflow-y: scroll;
}


.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
